<div class="article">
	{% if section.settings.blog_show_date %}
		<span class="article__date">{{ article.published_at | time_tag: format: 'date' }}</span>
	{% endif %}

	<h1 class="article__title">{{ article.title }}</h1>

	{% if article.tags %}
		<div class="article__tags">
			{% for tag in article.tags %}
				{{ tag }}
			{% endfor %}
		</div>
	{% endif %}

	{% if section.settings.show_share_buttons %}
		<div class="article__social">
			{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
		</div>
	{% endif %}

	<div class="article__img">{{ article.image }}</div>
</div>

<div class="rte">
	{{ article.content }}
</div>





{% schema %}
	{
		"name": {
			"en": "Posts"
		},
		"settings": [
			{
				"type": "checkbox",
				"id": "blog_show_author",
				"label": {
					"en": "Show author"
				},
				"default": true
			},
			{
				"type": "checkbox",
				"id": "blog_show_date",
				"label": {
					"en": "Show date"
				},
				"default": true
			},
			{
				"type": "checkbox",
				"id": "show_share_buttons",
				"label": {
					"en": "Show social sharing buttons"
				},
				"default": true
			}
		]
	}
{% endschema %}


