<div class="article">
	<div class="article-grid">
	   <div class="article_header">
		{% if section.settings.blog_show_date %}
			<span class="article__date">{{ article.published_at | date: '%Y.%m.%d' }}</span>
		{% endif %}

		<h1 class="article__title">{{ article.title }}</h1>

		{% if article.tags %}
			<ul class="article_tags">
				{% for tag in article.tags %}
					<li class="article_tags__item">
						{{ tag }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if section.settings.show_share_buttons %}
			<div class="article__social">
				{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
			</div>
		{% endif %}

</div>
	   <div class="article__img" style="background-image: url({{ article.image.src | img_url: '500x' }})" title="{{ article.image.src }}"></div>
    </div>    

</div>

<div class="article_content">
	<div class="wrap5">
		{{ article.content }}
	</div>
</div>
{% if section.settings.show_share_buttons %}
          <div class="article under_article_social">
			<div class="article__social">
				{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
			</div>
		  </div>			
{% endif %}
	
{% render 'articles-news' %}

<div class="home_offer_wrap">
	<div class="quote">better highs</div>
	<div class="author_quote">
		Sebastian Marincolo, author 
	</div>
	<div class="quote-text">    "A marijuana high can enhance core human mental abilities. It can help you to focus, to remember, to see new patterns, to imagine, to be creative..."</div><div class="home_offer__desc"><p>Join our <strong>Early Access List</strong> to stay updated, receive <strong>40% Off</strong> on your first order and be engaged with a group of cannabis aesthetes seeking unique experiences.</p></div><div class="site-footer__newsletter "><form method="post" action="/contact#home_offer_form" id="home_offer_form" accept-charset="UTF-8" class="contact-form" novalidate="novalidate"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
	<input type="hidden" name="contact[tags]" value="newsletter" />
	
				<div class="input-group-quote ">
					<div class=" discount-offer-input input-group {% if form.errors %} input-group--error{% endif %}">
						<input type="email"
							   name="contact[email]"
							   id="{{ formId }}-email"
							   class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
							   value="{{ form.email }}"
							   placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
							   aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
							   aria-required="true"
							   required
							   autocapitalize="off"
								{% if form.errors %}
									aria-invalid="true"
									aria-describedby="{{ formId }}-email-error"
									data-form-status
								{% endif %}>
						<span class="input-group__btn">
							<button type="submit" class="btn newsletter__submit-red" name="commit" >
								<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
							</button>
						</span>
					</div>
				</div>
	
				
			</form>
		</div>
	</div>

{% schema %}
	{
		"name": {
			"en": "Posts"
		},
		"settings": [
			{
				"type": "checkbox",
				"id": "blog_show_author",
				"label": {
					"en": "Show author"
				},
				"default": true
			},
			{
				"type": "checkbox",
				"id": "blog_show_date",
				"label": {
					"en": "Show date"
				},
				"default": true
			},
			{
				"type": "checkbox",
				"id": "show_share_buttons",
				"label": {
					"en": "Show social sharing buttons"
				},
				"default": true
			}
		]
	}
{% endschema %}


