<div class="article">
	<div class="article-grid">
	   <div class="article_header">
		{% if section.settings.blog_show_date %}
			<span class="article__date">{{ article.published_at | date: '%Y.%m.%d' }}</span>
		{% endif %}

		<h1 class="article__title">{{ article.title }}</h1>

		{% if article.tags %}
			<ul class="article_tags">
				{% for tag in article.tags %}
					<li class="article_tags__item">
						{{ tag }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
<div class="article">
		{% if section.settings.show_share_buttons %}
			<div class="article__social">88
				{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
			</div>
		{% endif %}
</div>
</div>
	   <div class="article__img" style="background-image: url({{ article.image.src | img_url: '500x' }})" title="{{ article.image.src }}"></div>
    </div>    

</div>

<div class="article_content">
	<div class="wrap5">
		{{ article.content }}
	</div>
</div>
{% if section.settings.show_share_buttons %}
			<div class="article__social">
				{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
			</div>
		{% endif %}
{% render 'articles-news' %}



{% schema %}
	{
		"name": {
			"en": "Posts"
		},
		"settings": [
			{
				"type": "checkbox",
				"id": "blog_show_author",
				"label": {
					"en": "Show author"
				},
				"default": true
			},
			{
				"type": "checkbox",
				"id": "blog_show_date",
				"label": {
					"en": "Show date"
				},
				"default": true
			},
			{
				"type": "checkbox",
				"id": "show_share_buttons",
				"label": {
					"en": "Show social sharing buttons"
				},
				"default": true
			}
		]
	}
{% endschema %}


