{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign country_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}


{%- assign show_country_selector = section.settings.show_currency_selector  -%}
{%- if show_country_selector and localization.available_countries.size > 1 -%}
	{%- assign country_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
	{%- assign locale_selector = true -%}
{%- endif -%}

{%- if section.settings.show_payment_icons -%}
	{%- unless shop.enabled_payment_types == empty -%}
		{%- assign show_payment_icons = true -%}
	{%- endunless -%}
{%- endif -%}

{%- if country_selector or locale_selector -%}
	{%- assign show_selectors = true -%}
{%- endif -%}

{%- if
		settings.social_twitter_link != blank
		or settings.social_facebook_link != blank
		or settings.social_pinterest_link != blank
		or settings.social_instagram_link != blank
		or settings.social_tumblr_link != blank
		or settings.social_snapchat_link != blank
		or settings.social_youtube_link != blank
		or settings.social_vimeo_link != blank
		or request.page_type == 'article'
		or request.page_type == 'blog'
-%}
	{%- assign social_icons = true -%}
{%- endif -%}

{%- assign payment_width_class = "one-half" -%}
{%- if show_selectors -%}
	{%- unless social_icons -%}
		{%- assign payment_width_class = "" -%}
	{%- endunless -%}
{%- endif -%}

{%- assign copyright_show_class = "medium-up--hide" -%}
{%- if social_icons -%}
	{%- unless show_selectors -%}
		{%- assign copyright_show_class = "" -%}
	{%- endunless -%}
{%- endif -%}

{%- case section.blocks.size -%}
	{%- when 1 -%}
		{%- assign footer_item = 'site-footer__item--full-width' -%}
		{%- assign inline_list = true -%}
	{%- when 2 -%}
		{%- assign footer_item = 'site-footer__item--one-half' -%}
		{%- assign inline_list = true -%}
	{%- when 3 -%}
		{%- assign footer_item = 'site-footer__item--one-third' -%}
		{%- for block in section.blocks -%}
			{%- if block.type == 'newsletter' -%}
				{%- assign footer_item = 'site-footer__item--one-quarter' -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}
	{%- when 4 -%}
		{%- assign footer_item = 'site-footer__item--one-quarter' -%}
	{%- when 5 -%}
		{%- assign footer_item = 'site-footer__item--one-fifth' -%}
{%- endcase -%}

{% comment %} Create an appropriate hover color based on text color and brightness {% endcomment %}
{%- assign footer_text_color = section.settings.color_footer_text -%}
{%- assign footer_text_color_brightness = section.settings.color_footer_text | color_brightness -%}
{%- if footer_text_color_brightness <= 26 -%}
	{%- assign footer_text_color_hover = footer_text_color | color_lighten: 25 -%}
{%- elsif footer_text_color_brightness <= 65 -%}
	{%- assign footer_text_color_hover = footer_text_color | color_lighten: 15 -%}
{%- else -%}
	{%- assign footer_text_color_hover = footer_text_color | color_darken: 10 -%}
{%- endif -%}

<style>
	.site-footer__hr {
		border-bottom: 1px solid {{ section.settings.color_footer_bg | color_darken: 10 }};
	}
	.site-footer p,
	.site-footer__linklist-item a,
	.site-footer__rte a,
	.site-footer h4,
	.site-footer small,
	.site-footer__copyright-content a,
	.site-footer__newsletter-error,
	.footer_social__link {
		color: {{ section.settings.color_footer_text }};
	}
	.footer {
		background-color: {{ section.settings.color_footer_bg }};
		color: {{ section.settings.color_footer_text }};
	}
	.site-footer__rte a {
		border-bottom: 1px solid {{ section.settings.color_footer_text }};
	}
	.site-footer__rte a:hover,
	.site-footer__linklist-item a:hover,
	.site-footer__copyright-content a:hover {
		color: {{ footer_text_color_hover }};
		border-bottom: 1px solid {{ footer_text_color_hover }};
	}
	.footer_social__link:hover {
		color: {{ footer_text_color_hover }};
	}
</style>



{%- capture payment_icon_markup -%}
	{%- if show_payment_icons -%}
		<div class="grid__item site-footer__payment-icons">
			<span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
			<ul class="payment-icons list--inline site-footer__icon-list">
				{%- for type in shop.enabled_payment_types -%}
					<li class="payment-icon">
						{{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
					</li>
				{%- endfor -%}
			</ul>
		</div>
	{%- endif -%}
{%- endcapture -%}

<footer class="footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
	<div class="wrap">
		<nav class="footer_menu" role="navigation">
			{% include 'site-nav', linklist: section.settings.main_linklist %}
		</nav>

		{%- assign socials = "Twitter Instagram Facebook Pinterest Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}

		{%- if social_icons -%}
			<ul class="footer_social">
				{%- for social in socials -%}
					{%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
					{%- assign icon_link = social | prepend: 'icon-' | downcase -%}
					{%- if settings[social_link] != blank -%}
						<li class="footer_social__item">
							<a class="footer_social__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
								{%- include icon_link -%}
								<span class="icon__fallback-text">{{ social }}</span>
							</a>
						</li>
					{%- endif -%}
				{%- endfor -%}

				{%- if request.page_type == 'blog' or request.page_type == 'article' -%}
					<li>
						<a class="footer_social__link" href="{{ shop.url }}{{ blog.url }}.atom">
							{% include 'icon-rss' %}
							<span class="icon__fallback-text">RSS</span>
						</a>
					</li>
				{%- endif -%}
			</ul>

		{%- endif -%}

		{% if section.settings.footer_title != blank %}
			<div class="footer_title">
				{{ section.settings.footer_title }}
			</div>
		{% endif %}


		{% if section.settings.footer_desc != blank %}
			<div class="footer_desc">
				{{ section.settings.footer_desc }}
			</div>
		{% endif %}
	</div>

	<div class="page-width">
		<div class="site-footer__content">
			{%- for block in section.blocks -%}
			<div class="site-footer__item">
				{%- case block.type -%}
					{%- when 'newsletter' -%}
						<div class="site-footer__newsletter {% if section.blocks.size == 1 %}site-footer__single-block--centered{% endif %}">
							{%- assign formId = 'ContactFooter' -%}

							{% form 'customer', id: formId, novalidate: 'novalidate' %}
								{%- if form.posted_successfully? -%}
									<p class="form-message form-message--success" tabindex="-1" data-form-status>
										{{ 'general.newsletter_form.confirmation' | t }}
									</p>
								{%- endif -%}

								<input type="hidden" name="contact[tags]" value="newsletter" />

								<div class=" discount-offer-input input-group {% if form.errors %} input-group--error{% endif %}">
									<input type="email"
									       name="contact[email]"
									       id="{{ formId }}-email"
									       class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
									       value="{{ form.email }}"
									       placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
									       aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
									       aria-required="true"
									       required
									       autocapitalize="off"
									{% if form.errors %}
										aria-invalid="true"
										aria-describedby="{{ formId }}-email-error"
										data-form-status
											{% endif %}>
									<span class="input-group__btn">
												<button type="submit" class="btn newsletter__submit" name="commit" >
													<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
												</button>
											</span>
								</div>

								{% if form.errors contains 'email' %}
									<span id="{{ formId }}-email-error" class="input-error-message">
												<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
												{% include 'icon-error' %}
												<span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
											</span>
								{% endif %}
							{% endform %}
						</div>
					{%- when 'text' -%}
						{%- if block.settings.text != blank -%}
							<div class="site-footer__rte {% if section.blocks.size == 1 %}site-footer__single-block--centered{% endif %}">
								{{ block.settings.text }}
							</div>
						{%- endif -%}
					{%- when 'link_list' -%}
						{%- assign footer_linklist = block.settings.menu -%}

						<!-- <ul class="site-footer__linklist {% if inline_list %}list--inline{% endif %}">
									{%- for link in linklists[footer_linklist].links -%}
										<li class="site-footer__linklist-item">
											<a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>
												{{ link.title | escape }}
											</a>
										</li>
									{%- endfor -%}
								</ul> -->
				{%- endcase -%}
			</div>
		</div>
		{%- endfor -%}
		<div class="email"><p class="email_p">hello@aequi.com</p></div>

		<p class="copiright">© AEQUI Ltd. {{ 'now' | date: "%Y" }} — Cannabis accessories designer that helps smokers sustain a level of quality and style in their smoking identity. Privacy Policy </p>
	</div>

	<div class="grid grid--no-gutters small--text-center grid--footer-float-right">
		{%- if show_selectors -%}
			<div class="grid__item one-half small--one-whole">
				{%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
					{%- if country_selector -%}
						<div class="selectors-form__item">
							<h2 class="visually-hidden" id="country-heading">
								{{ 'general.country.dropdown_label' | t }}
							</h2>

							{%- assign current_currency_symbol = localization.country.currency.symbol -%}
							{%- assign current_currency_iso_code = localization.country.currency.iso_code -%}

							<div class="disclosure" data-disclosure-country>
								<button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="country-list" aria-describedby="country-heading" data-disclosure-toggle>
									{%- if current_currency_symbol -%}
										{{ localization.country.name }} ({{ current_currency_iso_code }} {{ current_currency_symbol }})
									{%- else -%}
										{{ localization.country.name }} ({{ current_currency_iso_code }})
									{%- endif -%}
								</button>

								<ul id="country-list" class="disclosure-list" data-disclosure-list>
									{% for country in form.available_countries %}
										{%- assign currency_symbol = country.currency.symbol -%}
										{%- assign currency_iso_code = country.currency.iso_code -%}
										<li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
											<a class="disclosure-list__option" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
												{%- if currency_symbol -%}
													{{ country.name }} ({{ currency_iso_code }} {{ currency_symbol }})
												{%- else -%}
													{{ country.name }} ({{ currency_iso_code }})
												{%- endif -%}
											</a>
										</li>
									{%- endfor -%}
								</ul>

								<input type="hidden" name="country_code" id="CountrySelector" value="{{ localization.country.iso_code }}" data-disclosure-input />
							</div>
						</div>
					{%- endif -%}

					{%- if locale_selector -%}
						<div class="selectors-form__item">
							<h2 class="visually-hidden" id="lang-heading">
								{{ 'general.language.dropdown_label' | t }}
							</h2>

							<div class="disclosure" data-disclosure-locale>
								<button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
									{{ localization.language.endonym_name }}
								</button>

								<ul id="lang-list" class="disclosure-list" data-disclosure-list>
									{% for language in localization.available_languages %}
										<li class="disclosure-list__item {% if language.iso_code == localization.language.iso_code %}disclosure-list__item--current{% endif %}">
											<a class="disclosure-list__option" href="#" lang="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %} data-value="{{ language.iso_code }}" data-disclosure-option>
												{{ language.endonym_name }}
											</a>
										</li>
									{%- endfor -%}
								</ul>

								<input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input />
							</div>
						</div>
					{%- endif -%}
				{%- endform -%}
			</div>
		{%- else -%}
			<div class="grid__item small--hide {{ payment_width_class }} {% if show_payment_icons %}site-footer-item-center-vertically{% endif %}">{{ payment_icon_markup }}</div>
		{%- endif -%}



		{%- if show_selectors -%}
			<div class="grid__item small--hide {{ payment_width_class }}">{{ payment_icon_markup }}</div>
		{%- endif -%}

		<div class="grid__item medium-up--hide {{ payment_width_class }} small--one-whole">{{ payment_icon_markup }}</div>

		{%- if social_icons and show_selectors -%}
			<div class="grid__item small--hide site-footer-item-align-right {% if show_payment_icons %}one-half{% endif %}">
				<small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
				<small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
			</div>
		{%- endif -%}

<button id="btn-open-2" class="modal2">modal2</button>
<button id="btn-open-sighn-up" class="modal2">modal-sighn-up</button>
	</div>
<!-- modal1 -->
	<div id="wrapper-modal">
        <div id="overlay"></div>
        <div id="modal-window">
            <div class="close-btn">
                <button id="btn-close">
					<svg width="17" height="18" viewBox="0 0 17 18" fill="#fff" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.69948 9.00177L0.710529 2.00967C0.46475 1.76389 0.46475 1.36371 0.710529 1.11793C0.956308 0.872149 1.35649 0.872149 1.60227 1.11793L8.59122 8.11003L15.5833 1.12108C15.8291 0.872149 16.2261 0.872149 16.4719 1.12108C16.7177 1.37001 16.7177 1.76704 16.4719 2.01282L9.48296 9.00177L16.4719 15.9939C16.7177 16.2397 16.7177 16.6398 16.4719 16.8856C16.349 17.0085 16.1883 17.0715 16.0276 17.0715C15.8669 17.0715 15.7062 17.0085 15.5833 16.8856L8.59122 9.89351L1.59912 16.8856C1.47623 17.0085 1.31553 17.0715 1.15482 17.0715C0.994122 17.0715 0.833419 17.0085 0.710529 16.8856C0.46475 16.6398 0.46475 16.2397 0.710529 15.9939L7.69948 9.00177Z" fill="#fff"/>
					</svg>
				</button>
            </div>
            <div class="content">
				<div class="wrapper-modal-content grid-box-modal">
					<div class="discount-part">
						<div class="modal-home_offer__title"></div>
					</div>
					<div class="form-part">

						<div class="home_offer_wrap ">
						
							<div class="home_offer__subtitle">As we prepare our first designs for launch, we're making a special offer.</div><div class="home_offer__desc"><p>Join our <strong>Early Access List</strong> to stay updated, receive <strong>40% Off</strong> on your first order</p></div><div class="site-footer__newsletter "><form method="post" action="/contact#home_offer_form" id="home_offer_form" accept-charset="UTF-8" class="contact-form" novalidate="novalidate"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
							<input type="hidden" name="contact[tags]" value="newsletter" />
											<div class="input-group ">
											<input type="email"
												   name="contact[email]"
												   id="home_offer_form-email"
												   class="input-group__field newsletter__input"
												   value=""
												   placeholder="Email address"
												   aria-label="Email address"
												   aria-required="true"
												   required
												   autocapitalize="off"
											>
											<span class="input-group__btn">
												<button type="submit" class="btn newsletter__submit" name="commit" >
													<span class="newsletter__submit-text--large">Subscribe</span>
												</button>
											</span>
										</div>
							
										
									</form>
								</div>
							</div>



					</div>
		     	</div>
         
            </div>
        </div>
    </div>
<!-- modal2 -->
	<div class="wrapper-modal" id="wrapper-modal-2">
        <div class="overlay" id="overlay-2"></div>
		<div id="modal-window-2">
            <div class="close-btn">
                <button class="btn-close-2" id="btn-close-2">
					<svg width="17" height="18" viewBox="0 0 17 18" fill="#fff" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.69948 9.00177L0.710529 2.00967C0.46475 1.76389 0.46475 1.36371 0.710529 1.11793C0.956308 0.872149 1.35649 0.872149 1.60227 1.11793L8.59122 8.11003L15.5833 1.12108C15.8291 0.872149 16.2261 0.872149 16.4719 1.12108C16.7177 1.37001 16.7177 1.76704 16.4719 2.01282L9.48296 9.00177L16.4719 15.9939C16.7177 16.2397 16.7177 16.6398 16.4719 16.8856C16.349 17.0085 16.1883 17.0715 16.0276 17.0715C15.8669 17.0715 15.7062 17.0085 15.5833 16.8856L8.59122 9.89351L1.59912 16.8856C1.47623 17.0085 1.31553 17.0715 1.15482 17.0715C0.994122 17.0715 0.833419 17.0085 0.710529 16.8856C0.46475 16.6398 0.46475 16.2397 0.710529 15.9939L7.69948 9.00177Z" fill="#fff"/>
					</svg>
				</button>
            </div>
            <div class="content2">
				<div class="wrapper-modal-content">
					<div class="form-part">
						<div class="home_offer_wrap ">
							<div class="home_offer__subtitle">
								Subscription Confirmed
							</div>
							<p>Thank you for subscribing!</p>
							<button class="btn-close-3">ok</button>
				     	</div>
					</div>
				</div>
		    </div>
         
            </div>
        </div>
    </div>
	<!-- modal3 -->
	<div class="wrapper-modal" id="wrapper-modal-sighn-up">
        <div class="overlay3" id="overlay-sighn-up"></div>
			<div id="modal-window-sighn-up">
				<div>
					<button class="btn-close-sighn-up" id="btn-close-sighn-up">
						<svg width="17" height="18" viewBox="0 0 17 18" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.69948 9.00177L0.710529 2.00967C0.46475 1.76389 0.46475 1.36371 0.710529 1.11793C0.956308 0.872149 1.35649 0.872149 1.60227 1.11793L8.59122 8.11003L15.5833 1.12108C15.8291 0.872149 16.2261 0.872149 16.4719 1.12108C16.7177 1.37001 16.7177 1.76704 16.4719 2.01282L9.48296 9.00177L16.4719 15.9939C16.7177 16.2397 16.7177 16.6398 16.4719 16.8856C16.349 17.0085 16.1883 17.0715 16.0276 17.0715C15.8669 17.0715 15.7062 17.0085 15.5833 16.8856L8.59122 9.89351L1.59912 16.8856C1.47623 17.0085 1.31553 17.0715 1.15482 17.0715C0.994122 17.0715 0.833419 17.0085 0.710529 16.8856C0.46475 16.6398 0.46475 16.2397 0.710529 15.9939L7.69948 9.00177Z" fill="#fff"/>
							</svg>
					</button>
				</div>
				<div class="content">
					<div class="wrapper-modal-content grid-box-modal_mg">
						<div class="picture-part"></div>
						<div class="form-part">
	
							<div class="home_offer_wrap_mg">
							
								<div class="home_offer__subtitle">Text about advantages to be first  and getting preorder. </div><div class="home_offer__desc_mg"><p>Join our <strong>Early Access List</strong> to stay updated, receive <strong>40% Off</strong> on your first order</p></div><div class="site-footer__newsletter "><form method="post" action="/contact#home_offer_form" id="home_offer_form" accept-charset="UTF-8" class="contact-form" novalidate="novalidate"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
								<input type="hidden" name="contact[tags]" value="newsletter" />
												<div class="input-group ">
												<input type="email"
													   name="contact[email]"
													   id="home_offer_form-email"
													   class="input-group__field newsletter__input"
													   value=""
													   placeholder="Email address"
													   aria-label="Email address"
													   aria-required="true"
													   required
													   autocapitalize="off"
												>
												<span class="input-group__btn">
													<button type="submit" class="btn newsletter__submit" name="commit" >
														<span class="newsletter__submit-text--large">Subscribe</span>
													</button>
												</span>
											</div>
								
											
										</form>
									</div>
								</div>
	
	
	
						</div>
					 </div>
			 
				</div>
		   </div>
	</div>

		<!-- modal4 -->
		<div class=flex-modal>
			<div class=header>Верхний блок</div>
			<div class=h100>Контент</div>
			<div class=footer>Нижний блок</div>
		  </div>


</footer>



{% schema %}
	{
		"name": {
			"en": "Footer"
		},
		"max_blocks": 4,
		"settings": [
			{
				"type": "link_list",
				"id": "main_linklist",
				"label": {
					"en": "Menu"
				},
				"default": "main-menu"
			},
			{
				"type": "richtext",
				"id": "footer_title",
				"label": {
					"en": "Footer title"
				},
				"default": {
					"en": "<p>40% Off: Just For Joining</p>"
				}
			},
			{
				"type": "richtext",
				"id": "footer_desc",
				"label": {
					"en": "Footer description"
				},
				"default": {
					"en": "<p>Sign-up for our online publication, receive a 40% discount on any product you pre-order, and be part of the movement.</p>"
				}
			},
			{
				"type": "header",
				"content": {
					"en": "Payment methods"
				}
			},
			{
				"type": "checkbox",
				"id": "show_payment_icons",
				"label": {
					"en": "Show payment icons"
				},
				"default": false
			},
			{
				"type": "header",
				"content": {
					"en": "Color"
				}
			},
			{
				"type": "color",
				"id": "color_footer_bg",
				"label": {
					"en": "Background"
				},
				"default": "#f6f6f6"
			},
			{
				"type": "color",
				"id": "color_footer_text",
				"label": {
					"en": "Text"
				},
				"default": "#333232"
			},
			{
				"type": "header",
				"content": {
					"en": "Country/region Selector"
				},
				"info": {
					"en": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
				}
			},
			{
				"type": "checkbox",
				"id": "show_currency_selector",
				"label": {
					"en": "Show country/region selector"
				},
				"default": true
			},
			{
				"type": "header",
				"content": {
					"en": "Language Selector"
				},
				"info": {
					"en": "To add a language, go to your [language settings.](/admin/settings/languages)"
				}
			},
			{
				"type": "checkbox",
				"id": "show_locale_selector",
				"label": {
					"en": "Show language selector"
				},
				"default": true
			}
		],
		"blocks": [
			{
				"type": "link_list",
				"name": {
					"en": "Menu"
				},
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": {
							"en": "Heading"
						},
						"default": {
							"en": "Quick links"
						}
					},
					{
						"type": "link_list",
						"id": "menu",
						"label": {
							"en": "Menu"
						},
						"default": "footer"
					}
				]
			},
			{
				"type": "text",
				"name": {
					"en": "Text"
				},
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": {
							"en": "Heading"
						},
						"default": {
							"en": "Talk about your business"
						}
					},
					{
						"type": "richtext",
						"id": "text",
						"label": {
							"en": "Text"
						},
						"default": {
							"en": "<p>Share store details, promotions, or brand content with your customers.</p>"
						}
					}
				]
			},
			{
				"type": "newsletter",
				"limit": 1,
				"name": {
					"en": "Newsletter signup"
				},
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": {
							"en": "Heading"
						},
						"info": {
							"en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)"
						},
						"default": {
							"en": "Newsletter"
						}
					}
				]
			}
		]
	}
{% endschema %}