


{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
	{% if section.settings.message %}
		{% if section.settings.home_page_only == false or request.page_type == 'index' %}
			<style>
				.announcement-bar {
					background-color: {{ section.settings.color_bg }};
				}

				.announcement-bar__link:hover {
				{% assign brightness = section.settings.color_bg | color_brightness %}

				{% if brightness <= 192 %}
				{% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
					background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
				{% else %}
				{% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
					background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
				{% endif %}
				}

				.announcement-bar__message {
					color: {{ section.settings.color_text }};
				}
			</style>

			<div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
				{%- unless section.settings.message_link == blank -%}
					<a href="{{ section.settings.message_link }}" class="announcement-bar__link">
						{%- endunless -%}
						<p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
						{%- unless section.settings.message_link == blank -%}
					</a>
				{%- endunless -%}
			</div>

		{% endif %}
	{% endif %}

	<header class="header" role="banner">
		<div class="header_wrap">
			<a class="header_logo" href="/"><img src="{{ 'i_logo.svg' | asset_url }}" alt="" /></a>

			<nav class="header_menu" role="navigation">
				{% include 'site-nav', linklist: section.settings.main_linklist %}
			<div class="mobile_content">
				
				<div class="header_social_mob">
					{% include 'social-links' %}
				</div>
				<div class="footer_title">
					<p>40% Off: Just For Joining</p>
				</div>
				<div class="footer_desc">
				<p>Sign-up for our online publication, receive a 40% discount on any product you pre-order, and be part of the movement.</p>
				</div>
				{% form 'customer', id: formId, novalidate: 'novalidate' %}
										{%- if form.posted_successfully? -%}
											<p class="form-message form-message--success" tabindex="-1" data-form-status>
												{{ 'general.newsletter_form.confirmation' | t }}
											</p>
										{%- endif -%}

										<input type="hidden" name="contact[tags]" value="newsletter" />

										<div class=" discount-offer-input input-group {% if form.errors %} input-group--error{% endif %}">
											<input type="email"
											       name="contact[email]"
											       id="{{ formId }}-email"
											       class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
											       value="{{ form.email }}"
											       placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
											       aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
											       aria-required="true"
											       required
											       autocapitalize="off"
													{% if form.errors %}
														aria-invalid="true"
														aria-describedby="{{ formId }}-email-error"
														data-form-status
													{% endif %}>
											<span class="input-group__btn">
												<button type="submit" class="btn newsletter__submit" name="commit" >
													<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
												</button>
											</span>
										</div>

										{% if form.errors contains 'email' %}
											<span id="{{ formId }}-email-error" class="input-error-message">
												<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
												{% include 'icon-error' %}
												<span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
											</span>
										{% endif %}
									{% endform %}
									<div class="email"><p class="email_p">hello@aequi.com</p></div>
			
									<p class="copiright">© AEQUI Ltd. 2020 — Cannabis accessories designer that helps smokers sustain a level of quality and style in their smoking identity. 
										<a href="#">Privacy Policy </a>	</p>
										

			</div>
		
			</nav>
			
			<div class="header_social">
				{% include 'social-links' %}
			</div>

			<span class="header_menu_toggle js-header-menu-toggle">
				<span></span>
			</span>
		</div>
	</header>
</div>



<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": {{ shop.name | json }},
	{% if section.settings.logo %}
	{% assign image_size = section.settings.logo.width | append:'x' %}
	"logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
	{% endif %}
	"sameAs": [
	{{ settings.social_twitter_link | json }},
	{{ settings.social_facebook_link | json }},
	{{ settings.social_pinterest_link | json }},
	{{ settings.social_instagram_link | json }},
	{{ settings.social_tumblr_link | json }},
	{{ settings.social_snapchat_link | json }},
	{{ settings.social_youtube_link | json }},
	{{ settings.social_vimeo_link | json }}
	],
	"url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
	{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
	{
		"name": {
			"en": "Header"
		},
		"settings": [
			{
				"type": "radio",
				"id": "align_logo",
				"label": {
					"en": "Logo alignment"
				},
				"default": "left",
				"options": [
					{
						"value": "left",
						"label": {
							"en": "Left"
						}
					},
					{
						"value": "center",
						"label": {
							"en": "Centered"
						}
					}
				]
			},
			{
				"type": "image_picker",
				"id": "logo",
				"label": {
					"en": "Logo image"
				}
			},
			{
				"type": "range",
				"id": "logo_max_width",
				"label": {
					"en": "Custom logo width"
				},
				"min": 50,
				"max": 250,
				"step": 5,
				"unit": "px",
				"default": 100
			},
			{
				"type": "link_list",
				"id": "main_linklist",
				"label": {
					"en": "Menu"
				},
				"default": "main-menu"
			},
			{
				"type": "header",
				"content": {
					"en": "Announcement bar"
				}
			},
			{
				"type": "checkbox",
				"id": "message",
				"label": {
					"en": "Show announcement"
				},
				"default": false
			},
			{
				"type": "checkbox",
				"id": "home_page_only",
				"label": {
					"en": "Home page only"
				},
				"default": true
			},
			{
				"type": "text",
				"id": "message_text",
				"label": {
					"en": "Text"
				},
				"default": {
					"en": "Announce something here"
				}
			},
			{
				"type": "url",
				"id": "message_link",
				"label": {
					"en": "Link"
				},
				"info": {
					"en": "Optional"
				}
			},
			{
				"type": "color",
				"id": "color_bg",
				"label": {
					"en": "Bar"
				},
				"default": "#3a3a3a"
			},
			{
				"type": "color",
				"id": "color_text",
				"label": {
					"en": "Text"
				},
				"default": "#ffffff"
			}
		]
	}
{% endschema %}
