
<div class="hero_img">
	<div class="hero_img__logo">
		<img src="{{ 'i_logo.svg' | asset_url }}" alt="" />
	</div>

	{%- if section.settings.title_1 != blank -%}
		<div class="hero_img__title">{{ section.settings.title_1 }}</div>
	{%- endif -%}

	{%- if section.settings.title_2 != blank -%}
		<div class="hero_img__title">{{ section.settings.title_2 }}</div>
	{%- endif -%}

	{%- if section.settings.desc != blank -%}
		<div class="hero_img__desc">{{ section.settings.desc }}</div>
	{%- endif -%}

	{%- if section.settings.link_src != blank -%}
		<button id="btn-open" class="hero_img__btn js-popup-show" data-popup="discount">{{ section.settings.link_text }}</button>
	{%- endif -%}



	<div class="hero_slider">
		<div class="owl-carousel js-home-slider" data-autoplay="{{ section.settings.slider_autoplay }}">
			{% for block in section.blocks %}
				<div class="hero_slider__item" style="background-image: url({{ block.settings.image | img_url: '2048x' }})"></div>
			{% endfor %}
		</div>
	</div>

	<div class="hero_slider_dots">
		{% for block in section.blocks %}
			<div class="hero_slider_dots__item js-home-slider-goto {% if forloop.index == 1 %}active{%- endif -%}" data-id="{{ forloop.index }}"></div>
		{% endfor %}
	</div>
</div>



{% schema %}
	{
		"name": "Hero image bg",
		"blocks": [
			{
				"type": "image",
				"name": "Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
				]
			}
		],
		"settings": [
			{
				"type": "text",
				"id": "title_1",
				"label": "Title 1",
				"default": "Title 1"
			},
			{
				"type": "text",
				"id": "title_2",
				"label": "Title 2",
				"default": "Title 2"
			},
			{
				"type": "text",
				"id": "desc",
				"label": "Description",
				"default": "Some description text"
			},
			{
				"type": "text",
				"id": "link_src",
				"label": "Button link",
				"default": "https..."
			},
			{
				"type": "text",
				"id": "link_text",
				"label": "Button text",
				"default": "40% OFF"
			},
			{
				"type": "checkbox",
				"id": "slider_autoplay",
				"label": "Slider autoplay",
				"default": true
			}
		],
		"presets": [
			{
				"name": "Hero image bg",
				"blocks": [
					{
						"type": "image"
					},
					{
						"type": "image"
					},
					{
						"type": "image"
					}
				],
				"category": "image"
			}
		]
	}
{% endschema %}
