<div class="home_blog_wrap">
	{% if section.settings.title != blank %}
		<h2>{{ section.settings.title | escape }}</h2>
	{% endif %}

	{%- assign blog = blogs[section.settings.blog] -%}

	{% unless blog.articles_count == 0 %}
		<ul class="home_blog_list">
			{% for article in blog.articles limit: section.settings.post_limit %}
				<li class="home_blog_list__item">
					<a href="{{ article.url }}" class="home_blog__link" {% if article.image %}style="background-image: url({{ article.image | img_url: '720x' }})"{% endif %}>
						<div class="home_blog__title">{{ article.title }}</div>
					</a>

					{% if section.settings.blog_show_author %}
						<span class="home_blog__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
					{% endif %}

					{% if section.settings.blog_show_date %}
						<span class="home_blog__date">{{ article.published_at | time_tag: format: 'date' }}</span>
					{% endif %}

					<div class="home_blog__meta">
						<div class="rte article__grid-excerpt">
							{% if article.excerpt.size > 0 %}
								{{ article.excerpt }}
							{% else %}
								{{ article.content | strip_html | truncate: 150 }}
							{% endif %}
						</div>

						{% if article.tags.size > 0 %}
							<div class="home_blog__tags rte">
								<ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
									{% for tag in article.tags %}
										<li>
											<a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

						<ul class="list--inline article__meta-buttons">
							<li>
								<a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
									{{ 'blogs.article.view' | t }}
								</a>
							</li>

							{% if blog.comments_enabled? and article.comments_count > 0 %}
								<li>
									<a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
										{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<div class="grid grid--uniform grid--blog">
			{% for i in (1..section.settings.post_limit) %}
				<div class="grid__item medium-up--one-third">
					<div class="article__grid-meta">
						<h3 class="article__title">
							<a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
						</h3>

						{% if section.settings.blog_show_author %}
							<span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
						{% endif %}

						<div class="rte article__grid-excerpt">
							{{ 'homepage.onboarding.blog_excerpt' | t }}
						</div>

						<ul class="list--inline article__meta-buttons">
							<li>
								<a href="{{ article.url }}" class="btn btn--tertiary btn--small">
									{{ 'blogs.article.read_more' | t }}
								</a>
							</li>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endunless %}

	{% if section.settings.show_view_all %}
		<hr class="hr--invisible" aria-hidden="true" />

		<div class="text-center">
			<a href="{{ blog.url }}" class="btn" aria-label="{{ 'blogs.article.view_all_blogs' | t }}">
				{{ 'blogs.article.view_all' | t }}
			</a>
		</div>
	{% endif %}
</div>



{% schema %}
{
	"name": {
		"en": "Home blog posts"
	},
	"class": "home_blog",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": {
				"en": "Heading"
			},
			"default": {
				"en": "Blog posts"
			}
		},
		{
			"id": "blog",
			"type": "blog",
			"label": {
				"en": "Blog"
			}
		},
		{
			"type": "range",
			"id": "post_limit",
			"label": {
				"en": "Posts"
			},
			"min": 4,
			"max": 12,
			"step": 4,
			"default": 4
		},
		{
			"type": "checkbox",
			"id": "blog_show_author",
			"label": {
				"en": "Show author"
			},
			"default": false
		},
		{
			"type": "checkbox",
			"id": "blog_show_date",
			"label": {
				"en": "Show date"
			},
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": {
				"en": "Show 'View all' button"
			},
			"default": false
		}
	],
	"presets": [
		{
			"name": {
				"en": "Home blog posts"
			},
			"category": {
				"en": "Blog"
			},
			"settings": {
				"blog": "News",
				"post_limit": 4
			}
		}
	]
}
{% endschema %}
