


<div class="home_offer_wrap">
	{%- if section.settings.title != blank -%}
		<div class="home_offer__title">{{ section.settings.title }}</div>
	{%- endif -%}

	{%- if section.settings.subtitle != blank -%}
		<div class="home_offer__subtitle">{{ section.settings.subtitle }}</div>
	{%- endif -%}

	{%- if section.settings.desc != blank -%}
		<div class="home_offer__desc">{{ section.settings.desc }}</div>
	{%- endif -%}

	<div class="site-footer__newsletter {% if section.blocks.size == 1 %}site-footer__single-block--centered{% endif %}">
		{%- assign formId = 'home_offer_form' -%}

		{% form 'customer', id: formId, novalidate: 'novalidate' %}
			{%- if form.posted_successfully? -%}
				<!-- modal2 -->
				<div class="wrapper-modal js-popup active" id="wrapper-modal-2" data-popup="subscribe_success">
					<div class="overlay js-popup-close" id="overlay-2"></div>

					<div id="modal-window-2">
						<div class="close-btn js-popup-close">
							<button class="btn-close-2" id="btn-close-2">
								<svg width="17" height="18" viewBox="0 0 17 18" fill="#fff" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.69948 9.00177L0.710529 2.00967C0.46475 1.76389 0.46475 1.36371 0.710529 1.11793C0.956308 0.872149 1.35649 0.872149 1.60227 1.11793L8.59122 8.11003L15.5833 1.12108C15.8291 0.872149 16.2261 0.872149 16.4719 1.12108C16.7177 1.37001 16.7177 1.76704 16.4719 2.01282L9.48296 9.00177L16.4719 15.9939C16.7177 16.2397 16.7177 16.6398 16.4719 16.8856C16.349 17.0085 16.1883 17.0715 16.0276 17.0715C15.8669 17.0715 15.7062 17.0085 15.5833 16.8856L8.59122 9.89351L1.59912 16.8856C1.47623 17.0085 1.31553 17.0715 1.15482 17.0715C0.994122 17.0715 0.833419 17.0085 0.710529 16.8856C0.46475 16.6398 0.46475 16.2397 0.710529 15.9939L7.69948 9.00177Z" fill="#fff"/>
								</svg>
							</button>
						</div>

						<div class="content2">
							<div class="wrapper-modal-content">
								<div class="form-part">
									<div class="home_offer_wrap ">
										<div class="home_offer__subtitle">Subscription Confirmed</div>

										<p>Thank you for subscribing!</p>

										<button class="btn-close-3">ok</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- endif -%}

			<input type="hidden" name="contact[tags]" value="newsletter" />

			<div class="input-group {% if form.errors %} input-group--error{% endif %}">
				<input type="email"
				       name="contact[email]"
				       id="{{ formId }}-email"
				       class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
				       value="{{ form.email }}"
				       placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
				       aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
				       aria-required="true"
				       required
				       autocapitalize="off"
				{% if form.errors %}
					aria-invalid="true"
					aria-describedby="{{ formId }}-email-error"
					data-form-status
						{% endif %}>
				<span class="input-group__btn">
					<button type="submit" class="btn newsletter__submit" name="commit" >
						<span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
					</button>
				</span>
			</div>

			{% if form.errors contains 'email' %}
				<span id="{{ formId }}-email-error" class="input-error-message">
					<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
					{% include 'icon-error' %}
					<span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
				</span>
			{% endif %}
		{% endform %}
	</div>
</div>



{% schema %}
{
	"name": "Home offer",
	"class": "home_offer",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Special offer for you"
		},
		{
			"type": "text",
			"id": "subtitle",
			"label": "Subtitle",
			"default": "As we prepare our first designs for launch, we're making a special offer."
		},
		{
			"type": "richtext",
			"id": "desc",
			"label": "Description",
			"default": "<p>Join our <strong>Early Access List</strong> to stay updated, receive <strong>40% Off</strong> on your first order and be engaged with a group of cannabis aesthetes seeking unique experiences.</p>"
		}
	],
	"presets": [
		{
			"name": "Home offer",
			"category": "Content"
		}
	]
}
{% endschema %}


