<div class="home_advantages_wrap">
	{% capture image_layout %}
		<div class="home_advantages__item">
			{% if section.settings.image != blank %}
				{% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
				{% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
				{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
				{% include 'image-style', image: section.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}

				<div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
					<div style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;" data-image-loading-animation>
						<img id="{{ img_id }}"
						     alt="{{ section.settings.image.alt | escape }}"
						     class="feature-row__image lazyload"
						     data-aspectratio="{{ section.settings.image.aspect_ratio }}"
						     data-sizes="auto"
						     data-src="{{ img_url }}"
						     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
						     src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
						/>
					</div>
				</div>

				<noscript>
					{{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
				</noscript>
			{% else %}
				{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
			{% endif %}
		</div>
	{% endcapture %}

	<div class="home_advantages">
		{{ image_layout }}

		<div class="home_advantages__item">
			{% if section.settings.title_1 != blank %}
				<h2>{{ section.settings.title_1 | escape }}</h2>
			{% endif %}

			{% if section.settings.subtitle_1 != blank %}
				<h3>{{ section.settings.subtitle_1 | escape }}</h3>
			{% endif %}

			{% if section.settings.text_1 != blank %}
				<div>{{ section.settings.text_1 }}</div>
			{% endif %}
		</div>
	</div>
</div>



{% schema %}
{
	"name": {
		"en": "Image & text home"
	},
	"class": "home_advantages",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": {
				"en": "Image"
			}
		},
		{
			"type": "text",
			"id": "title_1",
			"label": {
				"en": "Title 1"
			},
			"default": {
				"en": "Image & text home 1"
			}
		},
		{
			"type": "text",
			"id": "title_2",
			"label": {
				"en": "Title 2"
			},
			"default": {
				"en": "Image & text home 2"
			}
		},
		{
			"type": "text",
			"id": "title_3",
			"label": {
				"en": "Title 3"
			},
			"default": {
				"en": "Image & text home 3"
			}
		},
		{
			"type": "text",
			"id": "subtitle_1",
			"label": {
				"en": "Subtitle 1"
			},
			"default": {
				"en": "Image & text home 1"
			}
		},
		{
			"type": "text",
			"id": "subtitle_2",
			"label": {
				"en": "Subtitle 2"
			},
			"default": {
				"en": "Image & text home 2"
			}
		},
		{
			"type": "text",
			"id": "subtitle_3",
			"label": {
				"en": "Subtitle 3"
			},
			"default": {
				"en": "Image & text home 3"
			}
		},
		{
			"type": "richtext",
			"id": "text_1",
			"label": {
				"en": "Text 1"
			},
			"default": {
				"en": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
			}
		},
	],
	"presets": [
		{
			"name": {
				"en": "Image & text home"
			},
			"category": {
				"en": "Image"
			}
		}
	]
}
{% endschema %}
